/.env
/.env.*

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# Build/output artifacts
dist/
build/
out/
target/

# Logs
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# I don't really know what they are to be honest (does anyone?)
# maybe someone can sort this one day
.coverage
.coverage.xml
recon_github.egg-info
.ruff_cache
.uv-cache
.pytest-tmp
.pytest_cache
.uv-cache-ci